/* variables */

$myprimary: #4c4c4c;
$secondary: #ebebeb;
$warning: #da0f41;
$mygreen: #a3dc59;

/* base styles  */
* {
  margin: 0;
  padding: 0;
  border: none;
  font-family: 'Nunito', sans-serif;

  color: $myprimary;
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  font-size: 18px;
  overflow-x: hidden;
  height: 100vh;
}
body {
  position: relative;
  background-color: $myprimary;
  z-index: -10;
}
a {
  text-decoration: none;
}
ul {
  margin: 0;
}
li {
  list-style-type: none !important;
}
button,
.btn {
  background: $secondary;
  border-radius: 8px;
  border: 0;
  padding: 8px 12px;
  font-weight: 600;
  cursor: pointer;
  display: inline-block;
}
button:hover,
.btn:hover {
  background: $myprimary;
  color: $mygreen;
}
button:disabled {
  opacity: 0.5;
  color: $mygreen;
  background: $secondary;
  cursor: not-allowed;
}
